
body {
    background-color: #A9927D;
}
.btn {
    background-color: #D9D9D9;
    border-radius: 15px;
    color: #0A0908;
    border: none;
    padding: 15px;
    display: block;
    margin: auto;
    cursor: pointer;
}

.Container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #A9927D;
}



