body {
	background: #A9927D;
}

.contenedor {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.login {
	min-width: 600px;
	margin-top: 200px;
	background: #A9927D;
	padding: 20px;
}

.login > div {
	margin-bottom: 20px;
}

.login label {
	display: block;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.login input {
	width: 50%;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.login button[type="submit"] {
	display: inline;
	background: #e2e3d9;
	font-weight: 600;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
	transition: .3s ease all;
}


